#profile, #profile a {
    color: white;
}
.form {
    display:flex;
    flex-flow:column wrap;
}

.manage {
    display:flex;
    flex-flow:row wrap;
}

.sub-manage {
    display:flex;
    flex-flow:column wrap;
}